{% extends 'base.html' %}

{% block title %}
undercurrent. a place to express yourself.
{% endblock title %}
    
{% block content %}
<video autoplay muted loop id="home-video">
  <source src="/static/videos/video.mp4" type="video/mp4">
</video>

<div class='home-photos'>
  <img class='home-photo-1' src='/static/photos/pexels-photo-2377470.jpeg'>
  <img class='home-photo-2' src='/static/photos/pexels-photo-3482526.jpeg'>
  <img class='home-photo-3' src='/static/photos/pexels-photo-4086307.jpeg'>
</div>

<div class='home-left'>
  <div>
    <h1>un·der·cur·rent</h1>
      <h4>/ˈəndərˌkərənt/</h4>
      <p>noun</p>
      <p>1. an underlying feeling or influence.</p>
    </div>
  <div>
  {% if not user.is_authenticated %}
    <a class='btn btn btn-dark mb-2' href='{% url 'login' %}'><h5 class='home-btn'>log in</h5></a>
    <a class='btn btn btn-dark mb-2' href='{% url 'signup' %}'><h5 class='home-btn'>sign up</h5></a>
  {% else %}
    <a class='btn btn btn-dark' href='{% url 'posts' %}'><h class='home-btn'>see what's happening</h></a>
  {% endif %}
  </div>
</div>

{% endblock content %}