body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  flex: 1 0 auto;
}

.left {
  float: left;
  width: 30%;
  margin: 1%;
  padding: 3%;
  background-color: rgb(240, 239, 239);
  border-radius: 20px;
}

.right {
  float: right;
  width: 65%;
  margin: 1%;
  padding: 1%;
  border: 3px solid blue;
}

.home-left {
  float: left;
  width: 30%;
  margin: 1%;
  padding: 1%;
  z-index: 1;
  position: fixed;
  bottom: 270px;
  left: 90px;
  color: white;
}

.home-photo-1 {
  position: fixed;
  bottom: 40px;
  left: 420px;
  width: 380px;
  z-index: -2;
}

.home-photo-2 {
  position: absolute;
  left: 780px;
  bottom: 100px;
  width: 400px;
  z-index: -3;
}

.home-photo-3 {
  position: absolute;
  left: 1020px;
  bottom: 160px;
  width: 350px;
  z-index: -4;
}

#home-video {
  position: fixed;
  right: 0;
  bottom: 0;
  max-width: 1500px;
  min-width: 100%;
  min-height: 100%;
  z-index: -5;
}

.home-btn {
  margin-bottom: 0px;
}

#navbar {
  color: black !important;
  background-color: white !important;
}

.nav-link {
  color: black !important;
}

#nav-logo {
  font-weight: bold;
}

.registration-container {
  width: 40%;
  margin: 0 auto;
  padding: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  border: 1px solid #7791B2;
  border-radius: 55px;
}

#id_username, 
#id_password, 
#id_password1, 
#id_password2,
#id_name,
#id_location {
  color: rgb(153, 151, 151);
  font-family: menlo;
  border: 0px;
  border-bottom: 1px solid black;
}

label {
  font-family: menlo;
  text-transform: lowercase;
  font-size: 12px;
  text-align: right;
  padding-bottom: 5px;
  padding-top: 5px;
}

.uploadcare--link,
.uploadcare--widget__file-size {
  font-family: menlo;
  text-transform: uppercase;
  font-size: 12px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.helptext {
  display: none;
}

textarea {
  margin-left: -45px !important;
  border-width: 0px !important;
  border-bottom: 1px solid black !important;
  margin-bottom: 20px !important;
  height: 110px !important;
  width: 330px !important;
  font-family: menlo !important;
}

.uploadcare--widget__button,
.uploadcare--button {
  background-color: #7791B2;
  text-transform: lowercase;
  border: 0px;
}

.uploadcare--widget__button:hover,
.uploadcare--button:hover {
  background-color: black;
}

.joined {
  text-transform: lowercase;
  font-size: 12px;
  text-align: center;
  color: gray;
  margin-top: 20px;
}

.profile-card-text {
  text-align: center;
  margin: 0px;
}

.profile-buttons {
  text-align: center;
}

.profile-name {
  text-align: center;
  padding: 10px;
  color: #7791B2;
}

.avatar {
  margin: auto;
  display: block;
  border-radius: 50%;
}
 