body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  flex: 1 0 auto;
}

.left {
  float: left;
  width: 30%;
  margin: 1%;
  padding: 1%;
  border: 3px solid blue;
}

.right {
  float: right;
  width: 65%;
  margin: 1%;
  padding: 1%;
  border: 3px solid blue;
}

.home-left {
  float: left;
  width: 30%;
  margin: 1%;
  padding: 1%;
  z-index: 1;
  position: fixed;
  bottom: 270px;
  left: 90px;
  color: white;
}

.home-photo-1 {
  position: fixed;
  bottom: 40px;
  left: 420px;
  width: 380px;
  z-index: -2;
}

.home-photo-2 {
  position: absolute;
  left: 780px;
  bottom: 100px;
  width: 400px;
  z-index: -3;
}

.home-photo-3 {
  position: absolute;
  left: 1020px;
  bottom: 160px;
  width: 350px;
  z-index: -4;
}

#home-video {
  position: fixed;
  right: 0;
  bottom: 0;
  max-width: 1500px;
  min-width: 100%;
  min-height: 100%;
  z-index: -5;
}

.home-btn {
  margin-bottom: 0px;
}

#navbar {
  color: black !important;
  background-color: white !important;
}

.nav-link {
  color: black !important;
}

#nav-logo {
  font-weight: bold;
}
