{% extends 'base.html' %}

{% block title %}
{{ user.username }}
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col s4">
      <div class="card">
          <div class="card-content">
            <img class="img-fluid" src="{{ profile.photo.cdn_url }}-/resize/200x200/">
            <h3>{{ profile.name }}</h3>
            <p>{{ profile.bio }}
            <p>Current city: {{ profile.location }}</p>
            <p>Joined on: {{ profile.join_date }}</p>
          <div>
            <a href="{% url 'edit_profile' profile.id %}" type="submit" class="btn btn-outline-info">
              Edit Profile</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}